---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { SITE } from "@consts";
---
<PageLayout title="Blog" description={`All articles and posts on ${SITE.NAME}`}>
  <Container>
    <div class="text-center p-8">
      <h1 class="text-4xl font-bold">Work In Progress</h1>
      <p class="text-lg mt-4">This page is currently under construction. Please check back later!</p>
    </div>
  </Container>
</PageLayout>
